.main {
  width: 360px;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  margin: 40px auto;
}

.display {
  height: auto;
  border: 1px solid black;
  margin: 20px;
}
#current {
  line-height: 25px;
}
#total {
  line-height: 45px;
}
.operations {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
  justify-content: center;
}

button {
  width: calc(100% / 5);
  height: 60px;
  border: 1px solid black;
  border-radius: 15%;
}
