.main {
  width: 360px;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  margin: 40px auto;
}

.display {
  min-height: 70px;
  border: 1px solid black;
  margin: 20px;
  overflow-wrap: break-word;
  text-align: end;
}
#current {
  min-height: 25px;
}
#total {
  font-size: 20px;
  min-height: 45px;
}
.operations {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
  justify-content: center;
}

button {
  width: calc(100% / 5);
  height: 60px;
  border: 1px solid black;
  border-radius: 15%;
}

.selected {
  background-color: aquamarine;
}
