body {
  background-color: rgb(255, 154, 154);
}

.main {
  background-color: white;
  width: 360px;
  height: auto;
  border: 3px solid black;
  border-radius: 10px;
  margin: 40px auto;
}

.display {
  min-height: 75px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 20px;
  overflow-wrap: break-word;
  text-align: end;
}
#current {
  min-height: 25px;
  font-size: 22px;
}
#total {
  font-size: 42px;
  min-height: 45px;
}
.operations {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
  justify-content: center;
}

button {
  width: calc(100% / 5);
  height: 60px;
  border: 2px solid black;
  border-radius: 15%;
  background-color: white;
}

.selected {
  background-color: #7acbf9;
}
